<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.birdl.activity" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/nlogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.birdl.activity.Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.birdl.activity.MainActivity"
                  android:label="@string/app_name"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.birdl.birdl.action.menu" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.birdl.activity.SettingsActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.birdl.birdl.SettingsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.birdl.activity.AboutActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.birdl.birdl.AboutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.birdl.activity.SetProfilActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.birdl.birdl.SetProfilActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="slidingBarEvent.SlidingEventLayout"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.birdl.birdl.SlidingEventLayout" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.birdl.activity.SignUp"
            android:label="Inscription"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.birdl.birdl.signupactivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.birdl.activity.EventDetailActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.birdl.birdl.EventDetailActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.birdl.activity.Confirmation"
            android:label="Une dernière étape..."
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.birdl.birdl.signupconfirmation" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.birdl.activity.GoogleSignIn"
            android:label="Connexion Google"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.birdl.birdl.googlesignin" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.birdl.activity.CountrycodeActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            android:noHistory="true"
            android:label="Select your country"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
