<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.birdl.birdl" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme"
        android:icon="@drawable/nlogo">
        <activity
            android:name=".Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="com.birdl.birdl.action.menu" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" >
            <intent-filter>
                <action android:name="com.birdl.birdl.SettingsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutActivity" >
            <intent-filter>
                <action android:name="com.birdl.birdl.AboutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SetProfilActivity" >
            <intent-filter>
                <action android:name="com.birdl.birdl.SetProfilActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".InboxActivity" >
        <intent-filter>
            <action android:name="com.birdl.birdl.InboxActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>
        <activity android:name=".NewMessageActivity" >
            <intent-filter>
                <action android:name="com.birdl.birdl.NewMessageActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateEventActivity" >
            <intent-filter>
                <action android:name="com.birdl.birdl.CreateEventActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchEventActivity" >
            <intent-filter>
                <action android:name="com.birdl.birdl.SearchEventActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:label="Inscription" >
            <intent-filter>
                <action android:name="com.birdl.birdl.signupactivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Confirmation"
            android:label="Une dernière étape..." >
            <intent-filter>
                <action android:name="com.birdl.birdl.signupconfirmation" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
